.title-logo {
    font-family: var(--font-brand);
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary);
  }

.title-1 {
    @apply text-2xl font-bold mb-4
}

.title-2 {
    @apply text-lg font-semibold mb-3
}

.title-3 {
    @apply text-base font-semibold mb-2
}

.content-1 {
    @apply text-base font-normal mb-2
}

.card-header-title {
    @apply text-sm font-semibold
}

.card-header-title-large {
    @apply text-base font-semibold ml-4;
}

.card-content-info {
    @apply flex text-sm;
}

.card-content-info-large {
    @apply flex text-base;
}