.title-logo {
  font-family: var(--font-brand);
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-accent);
}

.title-1 {
  margin-bottom: var(--space-4);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.title-2 {
  margin-bottom: var(--space-3);
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
}

.title-3 {
  margin-bottom: var(--space-2);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.content-1 {
  margin-bottom: var(--space-2);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.card-header-title {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.card-header-title-large {
  margin-left: var(--space-4);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}

.card-content-info {
  display: flex;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.card-content-info-large {
  display: flex;
  font-size: 1rem;
  line-height: 1.5rem;
}
