@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@500;600&display=swap');
@import '../app/styles/tokens.css';
@import '../app/styles/layout.css';
@import '../app/styles/menu.css';
@import '../app/styles/cards.css';
@import '../app/styles/text.css';
@import '../app/styles/colors.css';
@import '../app/styles/buttons.css';
@import '../app/styles/forms.css';

/* reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
  padding: 0;
}
